.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.poke-details{
    font-size: xx-large;
    margin-top: 1rem;
}

.poke-name span{
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.poke-img{
    height: 200px;
}

.poke-type{
    display: flex;
    gap: 2rem;
    color: green;
    text-transform: uppercase;
}

.poke-type div{
    background-color: lightgreen;
    padding: .5rem;
    border-radius: 5px;
}