.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btns{
    cursor: pointer;
    padding: .5rem 1rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.btns:hover{
    background-color: beige;
    transform: scale(1.1);
    transition: transform .2s;
}

@media screen and (max-width: 635px){
    .pokemon-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        row-gap: 2rem;
    }

    .pokemon-list-wrapper{
        gap: 2rem;
    }
    
}

@media screen and (max-width: 450px) {
    .pokemon-wrapper{
        column-gap: 3rem;
        row-gap: 2rem;
    }
}