.search-wrapper{
    margin: 0 auto;
}

#poke-name-search{
    margin-top: 2rem;
    width: 600px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

@media screen and (max-width: 635px){
    #poke-name-search{
        width: 300px;
    }
    
}